<ul>
  <li><a href="./docs/standards/software-development-operations.html">Software development and operation standards</a></li>
  <li><a href="./docs/standards/cloud-infra-platform.html">Cloud platform and infrastructure strategy</a></li>
</ul>
