<ul>
  <li><a href="./docs/general/digital-handbook-principles.html">Digital Handbook Principles</a></li>
  <li><a href="./docs/general/taxonomy.html">Taxonomy</a></li>
  <li><a href="./docs/general/glossary.html">Glossary</a></li>
</ul>
