<ul>
  <li><a href="./docs/guidance/bespoke-public-services.html">Bespoke public services</a></li>
  <li><a href="./docs/guidance/legacy-systems.html">Legacy Systems</a></li>
  <li><a href="./docs/guidance/data-guidance.html">Data and AI Related </a></li>
  <li><a href="./docs/guidance/accessibility-guidance.html">Accessibility </a></li>
  <li><a href="./docs/guidance/domain-names.html">Domain Names</a></li>
  <li><a href="./docs/guidance/technology-strategies.html">All Technology and Digital</a></li>
</ul>
