<ul>
  <li><a href="./docs/guidance/software/programming-languages.html">Programming Languages</a></li>
  <li><a href="./docs/guidance/software/source-code.html">Source Code</a></li>
  <li><a href="./docs/guidance/software/tracking-dependencies.html">Manage Software Dependencies</a></li>
  <li><a href="./docs/guidance/software/vulnerabiliyt-disclosure.html">Vulnerability Disclosure and security.txt</a></li>
  <li><a href="./docs/guidance/software/working-with-git.html">Working wtih Git</a></li>
  <li><a href="./docs/guidance/software/branching-principles.html">Branching Principles, Strategies & Policy</a></li>
</ul>
