<ul>
  <li>
    <strong>AWS</strong>
    <ul>
      <li><a href="/docs/cloud/aws-cloud/aws-account-tagging-schema.html">AWS Account Tagging Schema</a></li>
      <li><a href="/docs/cloud/aws-cloud/aws-administration-min-requirements.html">AWS Administration Requirements</a></li>
      <li><a href="/docs/cloud/aws-cloud/aws-org-units-in-control-tower.html">AWS Org Units in Control Tower</a></li>
      <li><a href="/docs/cloud/aws-cloud/aws-shared-responsibility-model.html">AWS Shared Responsibility Model</a></li>
      <li><a href="/docs/cloud/aws-cloud/request-new-aws-account.html">Requesting and Managing a New AWS Account</a></li>
    </ul>
  </li>

 <li>
    <strong>Azure</strong>
    <ul>
      <li><a href="/docs/cloud/azure-cloud/azure-recharge-policy.html">Azure hosting recharge policy</a></li>
    </ul>
  </li>

   <li>
    <strong>General</strong>
    <ul>
      <li><a href="./docs/cloud/general/cloud-infra-platform.html">Cloud infrastructure and platform strategy</a></li>
      <li><a href="./docs/cloud/general/cloud-shared-responsibility-model.html">Cloud shared responsibilty model</a></li>
      <li><a href="./docs/cloud/general/domain-name-standards.html">Domain name standards</a></li>
      <li><a href="./docs/cloud/general/github-admin-access-policy.html">GitHub administration access policy</a></li>
      <li><a href="./docs/cloud/general/sandbox-policy.html">Sandbox policy</a></li>
    </ul>
  </li>
</ul>