<ul>
  <li>
    <a href="/docs/cloud/AWS cloud/aws-administration-min-requirements.html"><b>AWS Cloud</b></a>
    <ul>
      <li><a href="/docs/cloud/AWS cloud/aws-account-tagging-schema.html">AWS Account Tagging Schema</a></li>
      <li><a href="/docs/cloud/AWS cloud/aws-administration-min-requirements.html">AWS Administration Requirements</a></li>
      <li><a href="/docs/cloud/AWS cloud/aws-org-units-in-control-tower.html">AWS Org Units in Control Tower</a></li>
      <li><a href="/docs/cloud/AWS cloud/aws-shared-responsibility-model.html">AWS Shared Responsibility Model</a></li>
      <li><a href="/docs/cloud/AWS cloud/request-new-aws-account.html">Requesting and Managing a New AWS Account</a></li>
    </ul>
  </li>

  <li>
    <a href="/docs/cloud/Azure cloud/azure-recharge-policy.html"><b>Azure Cloud</b></a>
    <ul>
      <li><a href="/docs/cloud/Azure cloud/azure-recharge-policy.html">Azure Recharge Policy</a></li>
    </ul>
  </li>

   <li>
    <a href="/docs/cloud/General/cloud-infra-platform.html"><b>General</b></a>
    <ul>
      <li><a href="/docs/cloud/General/cloud-infra-platform.html">Cloud Infrastructure and Platform Strategy</a></li>
      <li><a href="/docs/cloud/General/domain-name-standards.html">Domain Name Standards</a></li>
      <li><a href="/docs/cloud/General/github-admin-access-policy.html">GitHub Administration Access Policy</a></li>
      <li><a href="/docs/cloud/General/sandbox-policy.html">Sandbox Policy</a></li>
      <li><a href="/docs/cloud/General/service-team-runbook.html">Service Team Runbook</a></li>
    </ul>
  </li>
</ul>