<ul>
  <li><a href="./docs/architecture/architecture-principles.html">Architecture Principles</a></li>
  <li><a href="./docs/architecture/architecture-decisions.html">Architecture Decisions</a></li>
  <!-- <li><a href="./docs/architecture/reference-architecture.html">Reference Architecture</a></li>
  <li><a href="./docs/architecture/tech-blueprints.html">Tech Blueprints</a></li> -->
</ul>
