<ul>
  <li><a href="./docs/cloud/aws-administration-min-requirements.html">AWS administration requirements</a></li>
  <li><a href="./docs/cloud/aws-org-units-in-control-tower.html">AWS organisational units in control tower</a></li>
  <li><a href="./docs/cloud/aws-shared-responsibility-model.html">AWS shared responsibilty model</a></li>
  <li><a href="./docs/cloud/cloud-infra-platform.html">Cloud infrastructure and platform strategy</a></li>
  <li><a href="./docs/cloud/domain-name-standards.html">Domain name standards</a></li>
  <li><a href="./docs/cloud/github-admin-access-policy.html">Github administration access policy</a></li>
  <li><a href="./docs/cloud/request-new-aws-account.html">Requesting and Managing a new AWS account</a></li>
  <li><a href="./docs/cloud/sandbox-policy.html">Sandbox policy</a></li>
</ul>

