<ul>
  <li><a href="./docs/guidance/software/aws-administration-min-requirements.html">AWS Administration Requirements</a></li>
  <li><a href="./docs/guidance/software/branching-strategies-policies-standards.html">Branching Strategies, Policies and Standards</a></li>
  <li><a href="./docs/guidance/software/co-digital-firebreak-week.html">CO Digital Firebreak Week</a></li>
  <li><a href="./docs/guidance/software/domain-name-standards.html">Domain Name Standards</a></li>
  <li><a href="./docs/guidance/software/github-admin-access-policy.html">Github Administration Access Policy</a></li>
  <li><a href="./docs/guidance/software/tracking-dependencies.html">Manage Software Dependencies</a></li>
  <li><a href="./docs/guidance/software/principle-least-privilege.html">Principle of least Privilege</a></li>
  <li><a href="./docs/guidance/software/programming-languages.html">Programming Languages</a></li>
  <li><a href="./docs/guidance/software/sandbox-policy.html">Sandbox Policy</a></li>
  <li><a href="./docs/guidance/software/source-code.html">Source Code</a></li>
</ul>