<ul>
  <li><a href="./docs/guidance/accessibility-guidance.html">Accessibility </a></li>
  <li><a href="./docs/guidance/technology-strategies.html">All technology and digital</a></li>
  <li><a href="./docs/guidance/bespoke-public-services.html">Bespoke public services</a></li>
  <li><a href="./docs/guidance/data-guidance.html">Data and AI related </a></li>
  <li><a href="./docs/guidance/legacy-systems.html">Legacy systems</a></li>
</ul>
