<ul>
<<<<<<< HEAD
  <li><a href="/docs/software/branching-strategies-policies-standards.html">Branching strategies, policies and standards</a></li>
  <li><a href="/docs/software/co-digital-firebreak-week.html">CO Digital firebreak week</a></li>
  <li><a href="/docs/software/manage-software-dependencies.html">Manage software dependencies</a></li>
  <li><a href="/docs/software/principle-of-least-privelege.html">Principle of least privilege</a></li>
  <li><a href="/docs/software/programming-languages.html">Programming languages</a></li>
  <li><a href="/docs/software/source-code.html">Source code</a></li>
  <li><a href="/docs/software/software-development-operations.html">Software development and operation standards</a></li>
=======
  <li><a href="./docs/guidance/software/aws-administration-min-requirements.html">AWS administration requirements</a></li>
  <li><a href="./docs/guidance/software/aws-shared-responsibility-model.html">AWS shared responsibility model</a></li>
<<<<<<< HEAD
  <li><a href="./docs/guidance/software/aws-org-units-in-control-tower.html"> AWS organisational units in control tower</a></li>
=======
  <li><a href="./docs/guidance/software/aws-org-units-in-control-tower.html">AWS Organisational Units in Control Tower</a></li>
>>>>>>> 3d970e5a18369060e16a2c537976033206d81910
  <li><a href="./docs/guidance/software/branching-strategies-policies-standards.html">Branching strategies, policies and standards</a></li>
  <li><a href="./docs/guidance/software/co-digital-firebreak-week.html">CO Digital firebreak week</a></li>
  <li><a href="./docs/guidance/software/domain-name-standards.html">Domain name standards</a></li>
  <li><a href="./docs/guidance/software/github-admin-access-policy.html">Github administration access policy</a></li>
  <li><a href="./docs/guidance/software/tracking-dependencies.html">Manage software dependencies</a></li>
  <li><a href="./docs/guidance/software/principle-least-privilege.html">Principle of least privilege</a></li>
  <li><a href="./docs/guidance/software/programming-languages.html">Programming languages</a></li>
  <li><a href="./docs/guidance/software/sandbox-policy.html">Sandbox policy</a></li>
  <li><a href="./docs/guidance/software/source-code.html">Source code</a></li>
>>>>>>> main
</ul>

