<ul>
  <li><a href="./docs/governance/co-digital-governance.html">CO Digital Governance</a></li>
  <li><a href="./docs/governance/technical-design-authority.html">Technical Design Authority (TDA)</a></li>
</ul>
