---
title: Taxonomy
last_reviewed_on: 2025-11-25
review_in: 12 months
---

# Taxonomy

| Terms | Definitions |
| :--- | :--- |
| Service (Holistic) | A complete solution that captures all the things that collectively deliver a defined, end-to-end outcome for users, bringing together technology and non-technology elements (e.g., policy, people, process).<br><br> *Based on Functional Standard [GovS 005: Digital](https://www.gov.uk/government/publications/government-functional-standard-govs-005-digital). This is the broadest, strategic view of a service.* |
| Transactional Digital Service | A digital service that performs a specific exchange or update, requiring formal assessment if it allows users to either:<br><br><ul><li>Exchange information, money, permission, goods, or services.</li><li>Submit personal information that results in a change to a government record.</li></ul> <br> *Aligned with the [GOV.UK Service Manual](https://www.gov.uk/service-manual/service-assessments/check-if-need-to-meet-service-standard) and used to determine assessment requirements.* || Digital Product** | A software application or specific technology asset that has one or more capabilities. The term is used where an organisation has adopted agile methodologies to develop, enhance, and deliver software-enabled business capabilities.<br><br> *Aligned with Functional Standard GovS005; Digital, DDaT definitions of Service Owner [3] and Product Manager [4], and TBM Taxonomy v4.0.* |
| Digital Product | A software application or specific technology asset that has one or more capabilities. The term is used where an organisation has adopted agile methodologies to develop, enhance, and deliver software-enabled business capabilities.<br><br> *Aligned with Functional Standard GovS005; Digital, DDaT definitions of Service Owner [3] and Product Manager [4], and TBM Taxonomy v4.0.* |
| Platform and common components | Pre-built platforms or components, independent of a service, that offer reusable capabilities or functions to multiple services and products. <br><br> *Based on the definition in the [CDDO Risk and Importance Framework](https://www.gov.uk/government/publications/digital-and-technology-spend-control-version-6/risk-and-importance-framework--2#platforms-and-common-components).* |
| Commodity technology and licences | Common software licences and technology that supports general business activity across the organisation (e.g., standard email, productivity suites, standard HR systems).<br><br> *Based on the definition in the [CDDO Risk and Importance Framework](https://www.gov.uk/government/publications/digital-and-technology-spend-control-version-6/risk-and-importance-framework--2#platforms-and-common-components).* |
| Specialist technology | Specialist or bespoke technology, built to specific requirements either from scratch or by modifying existing solutions. For example, operational or military technology.<br><br> *Based on the definition in the [CDDO Risk and Importance Framework](https://www.gov.uk/government/publications/digital-and-technology-spend-control-version-6/risk-and-importance-framework--2#platforms-and-common-components).* |
| Capability | An ability to do something to the required and defined standards. It delineates what is done without attempting to explain how it is done, representing a particular ability or capacity the organisation possesses to achieve an outcome.<br><br> *Based on the TOGAF definition.* |
| Process | A set of interrelated or interacting activities that transform inputs into outputs, defining the sequence of activities and their dependencies.<br><br> *Based on the ITIL definition.* |


### Footnotes and References

[1] **Digital**: Modern technology-enabled processes, business models, tools and ways of working. *Source Functional Standard GovS005; Digital*

[2] **Data**: Information that has been translated into a form that is efficient for movement or processing. *Source Functional Standard GovS005; Digital*

[3] **Service Owner**: A service owner is accountable for the quality of their service. In this role, you will adopt a portfolio view, managing end-to-end services that include multiple products and channels. *Source DDaT Professions Capability Framework*

[4] **Product Manager**: A product manager is responsible for the quality of their products. In this role, you will be expected to use your knowledge of user needs and business goals to frame problems and set priorities for your delivery teams. *Source DDaT Professions Capability Framework*