---
title: Taxonomy
last_reviewed_on: 2025-01-02
review_in: 12 months
---

# Taxonomy

<table>
  <tr>
   <td><strong>Terms</strong>
   </td>
   <td><strong>Definitions</strong>
   </td>
  </tr>
  <tr>
   <td>Service
   </td>
   <td>A service captures all the things that collectively deliver an outcome for users. Note: A service is a complete solution that brings together technology and non-technology elements to enable users to achieve a defined outcome.

<em>Based on Functional Standard <a href="https://www.gov.uk/government/publications/government-functional-standard-govs-005-digital">GovS 005:Digital</a></em>.
   </td>
  </tr>
  <tr>
   <td>Digital and Data Service - test 
   </td>
   <td>A digital [1] & data [2] service captures the technology elements that deliver a digital outcome for users, built specifically for the organisation.
<p>

<em>Based on the interpretation of the government definitions of Service and Digital* and</em> <em>CDDO <a href="https://www.gov.uk/government/publications/digital-and-technology-spend-control-version-6/risk-and-importance-framework--2#platforms-and-common-components">risk and important framework</a>. </em>
   </td>
  </tr>
  <tr>
   <td>Digital and Data Product
   </td>
   <td>A software application that has one or more capabilities. Source Functional Standard GovS005; Digital
<p>
A digital* product is a software application configured by one or more digital services that enables specific features of a digital service.
<p>
<em>Based on the interpretation of the government definitions of Service, Service Owner [3] and Product Manager [4].</em>
   </td>
  </tr>
  <tr>
   <td>Platform and common components
   </td>
   <td>Pre-built platforms or components, independent of a service.
<p>
<em>Based on the definition in CDDO <a href="https://www.gov.uk/government/publications/digital-and-technology-spend-control-version-6/risk-and-importance-framework--2#platforms-and-common-components">risk and important framework</a></em>.
   </td>
  </tr>
  <tr>
   <td>Commodity technology and licences
   </td>
   <td>Common software licences and technology that supports business activity.
<p>
<em>Based on the definition in CDDO <a href="https://www.gov.uk/government/publications/digital-and-technology-spend-control-version-6/risk-and-importance-framework--2#platforms-and-common-components">risk and important framework</a></em>.
   </td>
  </tr>
  <tr>
   <td>Specialist technology
   </td>
   <td>Specialist or bespoke technology, built to your specific requirements either from scratch or by modifying existing solutions. For example, operational or military technology.
<p>
<em>Based on the definition in CDDO <a href="https://www.gov.uk/government/publications/digital-and-technology-spend-control-version-6/risk-and-importance-framework--2#platforms-and-common-components">risk and important framework</a></em>.
   </td>
  </tr>
  <tr>
   <td>Capability
   </td>
   <td>A capability is defined as “an ability to do something”, to the required and defined standards.  It is a particular ability or capacity that the organisation possesses to achieve a specific purpose or outcome. Critically, a capability delineates what is done without attempting to explain how.
<p>
<em>Based on TOGAF definition</em>
   </td>
  </tr>
  <tr>
   <td>Process
   </td>
   <td>A set of interrelated or interacting activities that transform inputs into outputs.  Processes define the sequence of activities and their dependencies.
<p>
<em>Based on ITIL definition</em>
   </td>
  </tr>
</table>


[1] **Digital**:  Modern technology-enabled processes, business models, tools and ways of working. *Source Functional Standard GovS005; Digital*

[2] ]**Data**: Information that has been translated into a form that is efficient for movement or processing. *Source Functional Standard GovS005; Digital*

[3] **Service Owner**:  A service owner is accountable for the quality of their service. In this role, you will adopt a portfolio view, managing end-to-end services that include multiple products and channels. Note there is only one level of Service Owner within the framework. *Source DDaT Professions Capability Framework*

[4] **Product Manager**:  A product manager is responsible for the quality of their products. In this role, you will be expected to use your knowledge of user needs and business goals to frame problems and set priorities for your delivery teams. *Source DDaT Professions Capability Framework*
